.badge {
  font-size: 0.875rem;
  padding: 0.4em 0.75em;
  text-transform: capitalize;
}

.badge-pending {
  background-color: #ffc107;
  color: #212529;
}

.badge-in-progress {
  background-color: #0d6efd;
}

.badge-completed {
  background-color: #198754;
}

.badge-canceled {
  background-color: #dc3545;
}

td,
th {
  vertical-align: middle !important;
}
