<div class="sidebar bg-light p-3">
  <h4 class="mb-4">MotoWeb</h4>
  <ul class="nav flex-column">
    <!-- Cliente -->
    <ng-container *ngIf="role === 'CLIENTE'">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Minhas Entregas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="nova-entrega">Nova Entrega</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="notificacoes">Notificações</a>
      </li>
    </ng-container>

    <!-- Central -->
    <ng-container *ngIf="role === 'CENTRAL'">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Entregas Pendentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="relatorios">Relatórios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="motoboys">Motoboys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="notificacoes">Notificações</a>
      </li>
    </ng-container>

    <!-- Motoboy -->
    <ng-container *ngIf="role === 'MOTOBOY'">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Minhas Entregas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="veiculos">Meus Veículos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="notificacoes">Notificações</a>
      </li>
    </ng-container>

    <li class="nav-item">
      <a class="nav-link text-danger" (click)="logout()">Sair</a>
    </li>
  </ul>
</div>
